# The Concepts of a Feature

## Feature
- An individual measurable property or characteristic of a phenomenon being observed<br/>
- same as independent variable and input<br/>
- Usually a column in a table<br/>
- A data instance can be expressed as a feature vector
- A **feature vector** is an n-dimensional vector of numerical features that represent some object.

# Data Types

- continuous / discrete <br/>
continuous : Usually real values ex) temperature, grade average, velocity <br/>
discrete : Usually labled values ex) sex, zip code, rank

- Numeric Types <br/>
mesurable data type<br/>
integer / real-number<br/>
ex ) temperature, velocity, year or day<br/>
Interval-scaled type, ratio-scaled type

- Nomial Types<br/>
can be categorized <br/>
ex) color, ID, school name, major<br/>
two categories => binary type

- Ordinal Types<br/>
can be categorized but categories have an order<br/>
ex) gpa, size of a bottle<br/>
measured scale or unit may differ<br/>
Having an order does not implies multiplication

# Loading Data with Pandas

<img src="./img/ml_data_def.png" width="600" style="float : left">

In [1]:
# import pandas library
import pandas as pd

In [2]:
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
df_data = pd.read_csv(data_url, sep='\s+', header = None) #load csv data, empty separate, no column

In [3]:
df_data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

In [4]:
# assign column names as a list
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRARIO', 'B', 'LSTAT', 'MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRARIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

# Representing a Model with Numpy

<img src="./img/ml_numpy_eq.png" width="600" style="float: left">

In [5]:
# import numpy lib
import numpy as np

In [8]:
# make two dimensional vectors
weight_vector = np.array([[1], [1], [1]]) 
x_vector = np.array([[3], [4], [5]])

In [10]:
# transpose of weight vector
weight_vector.T

array([[1, 1, 1]])

In [9]:
# dot product of transpose of weight vector and x vector
weight_vector.T.dot(x_vector)

array([[12]])

## Equation Format
<img src="./img/ml_pn_eq.png" width="600" style="float: left">

## Another Example

In [11]:
# import pandas as pd already done above
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRARIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [12]:
# add w0's col and insert 1 to them
df_data['weight_0'] = 1

# remove MEDV col since it stands for Y, not X
df_data = df_data.drop('MEDV', axis = 1)

df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRARIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [13]:
df_data.as_matrix()

c:\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        1.0000e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        1.0000e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        1.0000e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        1.0000e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        1.0000e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.0000e+00]])

In [14]:
# get the dimension of data
df_data.shape

(506, 14)

In [15]:
df_matrix = df_data.as_matrix()
weight_vector = np.random.random_sample((14, 1))

c:\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
weight_vector

array([[0.35043066],
       [0.45217015],
       [0.65880949],
       [0.52036076],
       [0.73660951],
       [0.09401056],
       [0.17914134],
       [0.8268971 ],
       [0.53968704],
       [0.52160813],
       [0.32140644],
       [0.07261295],
       [0.29997375],
       [0.17845014]])

In [16]:
df_matrix.dot(weight_vector)

array([[216.08517797],
       [188.62786298],
       [183.6825636 ],
       [168.8022773 ],
       [171.21569459],
       [171.70282733],
       [230.78459442],
       [238.5367312 ],
       [241.80469467],
       [235.87829328],
       [238.66124035],
       [234.61179544],
       [226.35361393],
       [222.02080612],
       [225.27516267],
       [220.85702639],
       [214.93958375],
       [226.45773115],
       [209.96064771],
       [223.1335499 ],
       [230.30528343],
       [227.78735311],
       [230.14007873],
       [231.78492821],
       [229.81752013],
       [221.82104713],
       [227.61835055],
       [222.90380398],
       [228.46456502],
       [226.3057132 ],
       [229.2026556 ],
       [228.65856553],
       [219.21614586],
       [227.62490489],
       [220.71745584],
       [206.1707687 ],
       [204.08479102],
       [201.58706853],
       [199.691076  ],
       [214.32088032],
       [212.58578666],
       [169.3366007 ],
       [170.09069449],
       [171.37722229],
       [177.61705439],
       [176.71728874],
       [177.82532804],
       [188.7936312 ],
       [194.5526085 ],
       [184.3917353 ],
       [195.19315067],
       [196.96934087],
       [188.47199664],
       [189.42110081],
       [338.46116675],
       [210.30239611],
       [254.45623601],
       [232.15048873],
       [216.73302088],
       [220.34874501],
       [225.04260962],
       [228.75815583],
       [223.58699738],
       [220.61011965],
       [179.50075638],
       [261.46134081],
       [265.47027305],
       [239.298405  ],
       [243.60466555],
       [241.65881222],
       [211.09280299],
       [213.4821553 ],
       [211.4372578 ],
       [210.81215582],
       [261.17957287],
       [268.17970207],
       [273.30753992],
       [268.63551572],
       [271.39265917],
       [267.61186002],
       [211.35648938],
       [218.44460561],
       [211.51102266],
       [213.87792442],
       [184.74457558],
       [184.67715671],
       [184.80496182],
       [184.96892145],
       [199.85758913],
       [195.70007046],
       [196.55784772],
       [197.86771718],
       [216.31630543],
       [211.37604443],
       [221.36821568],
       [195.13767025],
       [201.07047733],
       [200.62752982],
       [193.14935315],
       [198.72337786],
       [264.69954052],
       [262.75130237],
       [242.46971672],
       [267.14235348],
       [266.88062518],
       [269.12963539],
       [269.14252188],
       [265.93200979],
       [268.35433662],
       [268.10740587],
       [261.04883726],
       [290.74118626],
       [294.19832568],
       [295.2641263 ],
       [290.41961726],
       [289.69678028],
       [289.5122624 ],
       [290.89402932],
       [286.41110614],
       [288.53163278],
       [170.28245599],
       [171.96216496],
       [174.57907373],
       [176.88483544],
       [175.01483411],
       [173.2914925 ],
       [176.29419617],
       [304.90588914],
       [305.3279654 ],
       [305.73696303],
       [304.63458829],
       [304.8652554 ],
       [303.5898957 ],
       [304.50263011],
       [296.69778349],
       [305.84849078],
       [303.55796925],
       [304.85399345],
       [306.4469704 ],
       [306.01920271],
       [306.1846174 ],
       [311.26386229],
       [289.4151475 ],
       [289.12755089],
       [289.02500766],
       [272.74315111],
       [269.08896373],
       [288.29704702],
       [285.14073527],
       [283.08037051],
       [282.57487856],
       [280.40156107],
       [278.39520586],
       [275.38574727],
       [279.43267572],
       [260.82489843],
       [262.25610134],
       [279.00357448],
       [279.1886836 ],
       [280.50687384],
       [277.04437757],
       [277.97481271],
       [281.19702468],
       [280.80632177],
       [283.12062118],
       [271.68274291],
       [279.45562775],
       [268.70122729],
       [276.40921509],
       [278.90101209],
       [276.6356049 ],
       [280.81151047],
       [217.4520837 ],
       [214.97161073],
       [212.2190369 ],
       [204.79812049],
       [209.22397102],
       [212.76949847],
       [212.54613169],
       [153.97859335],
       [159.10170806],
       [155.71640871],
       [159.68763552],
       [160.82513238],
       [161.86787471],
       [157.8594411 ],
       [153.01716964],
       [280.06271303],
       [277.11479828],
       [280.18468268],
       [277.14739449],
       [279.53646445],
       [278.28842797],
       [210.95016082],
       [211.1180307 ],
       [217.42850328],
       [257.28480617],
       [255.98432862],
       [258.45577859],
       [301.09351537],
       [299.90503103],
       [269.92588503],
       [264.81208066],
       [209.52430139],
       [208.86227113],
       [200.07751226],
       [205.78236747],
       [211.08958889],
       [207.45487862],
       [218.1780775 ],
       [214.7200734 ],
       [216.0932963 ],
       [207.13420858],
       [200.66362507],
       [199.67119603],
       [203.06978922],
       [207.93798157],
       [211.81827306],
       [216.1746211 ],
       [213.90143028],
       [225.55508537],
       [229.93587553],
       [224.01684879],
       [223.79795606],
       [221.18722222],
       [222.07200614],
       [222.79024381],
       [221.39399786],
       [209.92931911],
       [210.81875022],
       [221.63172425],
       [221.23644464],
       [220.73357988],
       [219.90452577],
       [219.49244901],
       [220.02572319],
       [224.2088975 ],
       [221.55078281],
       [220.89127137],
       [225.77249687],
       [229.84094842],
       [232.24844471],
       [228.72283439],
       [218.98897507],
       [248.0291342 ],
       [249.89262603],
       [241.03793651],
       [248.2122767 ],
       [242.34612626],
       [237.21518532],
       [236.00071446],
       [233.19965265],
       [234.71161749],
       [236.00907006],
       [253.60378792],
       [252.2368135 ],
       [218.69461606],
       [204.81750443],
       [207.46645789],
       [207.87429673],
       [205.56097297],
       [205.95244028],
       [206.01462883],
       [208.46309139],
       [206.3663447 ],
       [202.20552602],
       [207.07401494],
       [201.9840879 ],
       [198.82024294],
       [185.94101236],
       [182.04500731],
       [176.08745932],
       [183.47256145],
       [182.62489406],
       [203.44141053],
       [204.70932793],
       [207.17755675],
       [203.08779511],
       [203.90971921],
       [172.04496372],
       [177.3326538 ],
       [173.42347057],
       [174.65334465],
       [190.40277896],
       [238.69521778],
       [232.25436711],
       [212.32660574],
       [232.34209145],
       [235.05428526],
       [229.75480857],
       [215.74495714],
       [215.82046675],
       [215.3284647 ],
       [207.56216458],
       [212.37827032],
       [209.59094545],
       [213.15912638],
       [217.49857069],
       [266.71424236],
       [265.14070805],
       [273.61954618],
       [244.44149499],
       [239.38103127],
       [238.65630794],
       [184.42580144],
       [187.45036598],
       [189.30038436],
       [189.3380867 ],
       [222.24374511],
       [222.49523155],
       [213.22764874],
       [216.85123595],
       [225.23081516],
       [222.89225041],
       [224.62336873],
       [223.78437777],
       [226.48977607],
       [224.1522756 ],
       [221.24813698],
       [220.9169485 ],
       [208.86941744],
       [209.12891078],
       [208.76700938],
       [213.87611388],
       [206.56910384],
       [201.99686489],
       [205.12338184],
       [209.72309009],
       [274.80330702],
       [271.99285878],
       [275.24230079],
       [228.33212329],
       [223.75680709],
       [172.78723505],
       [173.15207613],
       [172.94198636],
       [174.95149633],
       [177.72883256],
       [172.56812308],
       [174.44404265],
       [176.65649966],
       [216.63624085],
       [274.98516507],
       [275.70054938],
       [269.83635398],
       [241.71601643],
       [241.51142649],
       [275.70184297],
       [234.70292425],
       [245.20293082],
       [247.48474453],
       [295.65035105],
       [294.72022898],
       [194.60915125],
       [264.79637233],
       [263.17957995],
       [435.66909934],
       [432.74702447],
       [431.77404629],
       [430.38630136],
       [429.08054508],
       [429.37448851],
       [430.97892631],
       [429.597026  ],
       [425.78855986],
       [426.3710904 ],
       [426.19979413],
       [417.21006225],
       [428.84883927],
       [429.3746383 ],
       [430.69130836],
       [431.55010805],
       [428.31012879],
       [441.91994938],
       [445.3666223 ],
       [438.47031878],
       [436.57286506],
       [437.52785363],
       [442.62593948],
       [440.4634953 ],
       [462.88515165],
       [439.76391178],
       [438.314721  ],
       [438.14347597],
       [434.37460977],
       [442.65718091],
       [444.87080998],
       [443.54816257],
       [440.42868656],
       [437.03835102],
       [435.17427965],
       [431.55265113],
       [439.34885444],
       [434.50119041],
       [436.84735882],
       [435.83676051],
       [435.32385134],
       [436.26543599],
       [450.54372914],
       [432.19738051],
       [444.86733405],
       [439.16569536],
       [436.08630276],
       [441.99959471],
       [443.28653235],
       [457.72507617],
       [439.84530407],
       [430.8690631 ],
       [432.00824936],
       [423.16564692],
       [420.14341161],
       [413.01594338],
       [418.00527888],
       [430.4760988 ],
       [432.69282598],
       [416.50541951],
       [410.94634761],
       [423.59108045],
       [432.55223924],
       [409.77588907],
       [431.05800487],
       [429.05981061],
       [426.85028317],
       [406.52164693],
       [402.73946174],
       [412.09435029],
       [403.05257591],
       [414.58095735],
       [411.67360967],
       [413.69723269],
       [411.41420718],
       [413.96935859],
       [408.17160651],
       [411.82696711],
       [415.63691979],
       [417.67865085],
       [410.92528801],
       [413.48885604],
       [417.29882869],
       [437.31115748],
       [440.91081592],
       [436.49513462],
       [435.33490837],
       [436.87232516],
       [427.99432545],
       [412.77732001],
       [429.69429383],
       [435.81526371],
       [437.1246376 ],
       [430.00307166],
       [406.21723648],
       [432.65277836],
       [433.38625491],
       [435.18087786],
       [408.44917161],
       [408.38867191],
       [406.00582704],
       [404.91466362],
       [424.70301097],
       [433.01535108],
       [423.50945954],
       [432.13393322],
       [432.53648241],
       [432.22082189],
       [429.70414804],
       [420.76201661],
       [405.59418316],
       [430.9638518 ],
       [432.71916476],
       [430.2249633 ],
       [432.73259631],
       [432.70912799],
       [429.92385738],
       [426.58441686],
       [432.84486321],
       [430.67480008],
       [434.75511188],
       [437.17102122],
       [435.65591796],
       [434.14418524],
       [428.42212135],
       [429.00201318],
       [429.42223613],
       [423.12510287],
       [422.26055482],
       [425.23974805],
       [432.17243681],
       [425.37940448],
       [451.16869418],
       [450.19203606],
       [450.02463205],
       [451.97579331],
       [448.51399572],
       [265.01420428],
       [263.5037766 ],
       [262.25780848],
       [271.49441961],
       [269.07893446],
       [267.38652766],
       [269.35598671],
       [270.45838923],
       [204.58263514],
       [205.91508389],
       [207.43156891],
       [207.31156854],
       [206.46173397]])

# Linear Algebra Concepts

## Vector

<img src="./img/linear_algebra_1.png" width="400" style="float: left">

<img src="./img/scalar_product.png" width="400" style="float:left">

## Matrix

<img src="./img/matrix_type.png" width="400" style="float:left">

### Equality of Matrices
If aij is an element of matrix A and bij is element of matrix B, then the matrix A and B are equal only if a = b for all i and j values. Two matrices to be equal, their order must be the same. If two matrices have their corresponding elements equal, then they are called equal matrices.

<img src="./img/scalar_matrix.png" width="400" style="float:left">

<img src="./img/transpose.png" width="500" style="float:left">

<img src="./img/transpose_prop.png" width=700 style="float:left">

### Matrix Multiplication

<img src="./img/matrix_mult.png" width="500" style="float:left">

# Linear Algebra with Python

## Vector Representation of Python

In [2]:
vector_a = [1, 2, 10] # list 
vector_b = (1, 2, 10) # tuple
vector_c = {'x':1, 'y':2, 'z':10} #dict

print(vector_a, vector_b, vector_c) #anything is possible

[1, 2, 10] (1, 2, 10) {'x': 1, 'y': 2, 'z': 10}

In [3]:
# vector addition
u = [2, 2]
v = [2, 3]
z = [3, 5]

result = [sum(t) for t in zip(u,v,z)]
result

[7, 10]

In [4]:
# scalar-vector product
u = [1, 2, 3]
v = [4, 4, 4]
alpha = 2

result = [alpha*sum(t) for t in zip(u,v)]
result

[10, 12, 14]

## Matrix Representation of Python

In [5]:
matrix_a = [[3,6], [4,5]] # list 
matrix_b = [(3,6), (4,5)] # tuple
matrix_c = {(0,0):3, (0,1):6, (1,0):4, (1,1):5} #dict

In [6]:
# matrix addition: 
# zip rows first and then zip elements
matrix_a = [[3,6], [4,5]]
matrix_b = [[5,8], [6,7]]
result = [[sum(row) for row in zip(*t)] for t in zip(matrix_a, matrix_b)]

result

[[8, 14], [10, 12]]

In [11]:
# scalar-matrix product
matrix_a = [[3,6], [4,5]]
alpha = 4
result = [[alpha * element for element in t] for t in matrix_a]

result

[[12, 24], [16, 20]]

In [13]:
# matrix transpose
matrix_a = [[1,2,3], [4,5,6]]
result = [[element for element in t] for t in zip(*matrix_a)]
# [t for t in zip(*matrix_a)] -> [(1,4), (2,5), (3,6)]
result

[[1, 4], [2, 5], [3, 6]]

In [17]:
# matrix product
matrix_a = [[1,1,2], [2,1,1]]
matrix_b = [[1,1], [2,1], [1,3]]
result = [[sum(a*b for a,b in zip(row_a, column_b)) 
           for column_b in zip(*matrix_b)] for row_a in matrix_a]

result

[[5, 8], [5, 6]]

In [19]:
#row  zip(matrix)
[row_a for row_a in matrix_a]

[[1, 1, 2], [2, 1, 1]]

In [21]:
#column  zip(*matrix)
[column_b for column_b in zip(*matrix_b)]

[(1, 2, 1), (1, 1, 3)]

In [26]:
row_a = [row_a for row_a in matrix_a]
column_b = [column_b for column_b in zip(*matrix_b)]
for a,b in zip(row_a, column_b):
    print(a,b)

[1, 1, 2] (1, 2, 1)
[2, 1, 1] (1, 1, 3)

## for n vectors

In [36]:
def vector_addition(*args):
    return [sum(t) for t in zip(*args)]

In [37]:
vector_addition([1,2],[2,3],[3,4])

[6, 9]